a {
  transition: all 0.5s ease-out;
  text-decoration: underline;
}

a:hover, a:focus {
  color: #48b;
}

ul {
    padding: 0px 0px 0px 30px;
}

hr {
  width: 60%;
  margin: 40px auto 50px;
  border: 0;
  border-top: 1px solid rgba(114, 120, 120, 0.2);
}

img {
  transition: opacity 250ms ease-in-out;
}

.b-loaded {
  opacity: 1;
}

.banner {
  min-height: 600px;
  background-color: #333;
  color: #fafafa;
}

.banner__nav {
  height: 50px;
  text-align: right;
  font-weight: 700;
}

.banner__nav a {
  display: inline-block;
  height: 50px;
  padding: 15px;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
}

.banner__content {
  margin-top: 150px;
  text-align: center;
}

.banner__title {
  margin-bottom: 40px;
  font-size: 60px;
}

.banner__subtitle {
  text-transform: uppercase;
  font-weight: 700;
}

.section {
  padding: 40px 0 75px;
}

.section__title {
  margin-bottom: 40px;
  text-align: center;
  color: #666;
}

.section--contact .section__title {
  color: #fafafa;
}

.section--profile .section__text {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  font-size: 18px;
}

.section--experience,
.section--skills {
  background-color: #f5f5f5;
}

.experience {
  position: relative;
  margin-bottom: 40px;
}

.experience:last-child {
  margin-bottom: 0;
}

.experience__company {
  margin-top: 0;
  margin-bottom: 10px;
}

.experience__title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
}

.experience__period {
  margin-left: 20px;
}

.experience__logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  padding: 5px 0 0;
  text-align: center;
}

.experience__logo img {
  max-height: 100px;
  max-width: 100px;
}

.experience__details {
  margin-left: 150px;
  min-height: 100px;
}

.section--contact {
  min-height: 350px;
  background-color: #333;
  color: #fafafa;
}

.contact {
  margin-bottom: 10px;
  padding: 0;
  list-style: none;
}

.contact__info {
  float: left;
  width: 20%;
  text-align: center;
}

.contact__link {
  color: #f5f5f5;
  font-size: 18px;
  text-decoration: none;
}

.contact__link:hover, .contact__link:focus {
  text-decoration: none;
}

.icon {
  display: inline-block;
  width: 32px;
  height: 32px;
  fill: currentColor;
}

.gr_grid_container {
  margin-left: -15px;
  margin-right: -15px;
}

.gr_grid_book_container {
  float: left;
  width: 25%;
  height: 160px;
  text-align: center;
}

@media (max-width: 991px) {
  .experience__logo {
    width: 75px;
  }

  .experience__logo img {
    max-height: 75px;
    max-width: 75px;
  }

  .experience__details {
    margin-left: 125px;
    min-height: 75px;
  }
}

@media (max-width: 767px) {
  .experience__logo {
    display: none;
  }

  .experience__details {
    margin-left: 0;
  }
}

@media (max-width: 460px) {
  .banner__title {
    font-size: 48px;
  }

  .experience__period {
    display: block;
    margin-left: 0;
    margin-top: 5px;
  }

  .gr_grid_book_container {
    width: 50%;
  }
}